html{
scroll-behavior:smooth;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
}

header {
    background: cadetblue;
    width: 100vw;
    height: 4vh;
}

#symbol {
    display: flex;
    position: absolute;
    ;
    top: -15px;
}

#symbol i {
    margin: 0px 23px;
    cursor: pointer;
    color: white;
}

#text {
    position: absolute;
    right: 0px;
    top: -14px;
    display: flex;
    list-style: none;
}

#text li {
    margin: 0px 46px;
    cursor: pointer;
}

nav {
    background-color: black;
    padding-top: 1px;
    width: 100vw;
}

nav span {
    top: -13px;
    height: 35px;
    position: relative;
    right: 214px;
}

nav img {
    top: -4px;
    height: 35px;
    position: relative;
    filter: invert();
    right: 212px;
}

#navbar ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

#navbar ul li {
    margin: 0px 21px;
    list-style: none;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    color: black;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72vh;
    position: relative;
}

#container::before {
    content: "";
    position: absolute;
    background: url(../bodybuilder.jpg) no-repeat center/cover;
    width: 100vw;
    height: 72vh;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
}

#container h1 {
    font-size: 3rem;
    color: antiquewhite;
    margin: 0px;
}

#container p {
    font-size: 2rem;
    color: #d7d7d7;
    margin: 10px;
}

#container button {
    font-size: 1rem;
    background-color: red;
    padding: 10px 14px;
    margin: 0px 4px;
    border-radius: 16px;
    cursor: pointer;
    border: transparent;
}

#info {
    color: #14add9;
    width: 100vw;
    height: 40vh;
    font-size: 1rem;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
}

.infobox {
    /* border: 2px solid red; */
    margin: 12px 3px;
    padding: 12px 3px;
    /* background: blue; */
}

#infobox1 {
    float: left;
    width: 58%;
}

#infobox2 {
    float: left;
    width: 58%;
}

#infobox3 {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 38%;
    height: 83%;
    justify-content: center;
}

.infobox h3 {
    color: black;
    right: 10px;
    position: relative;
}

.infobox .search i {
    cursor: pointer;
    position: relative;
    right: 23px;
    top: 1px;
}

#event {
    width: 100vw;
    color: black;
    position: relative;
    top: 5px;
    clear: left;
}

#event h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

.eventbox {
    background-color: whitesmoke;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d98c22;
}

#shop {
    width: 100vw;
    display: flex;
}

.shopbox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height: 70vh;
    color: black;
    margin: 4px 4px;
}

.shopbox img {
    box-shadow: 5px 6px grey;
    height: 60vh;
    width: 30vw;
}

.shopbox button {
    padding: 5px 5px;
    margin: 20px 0px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: red;
    
    cursor: pointer;
    border: transparent;
}

#shopheading h3 {
    width: 100vw;
    font-size: 2rem;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    margin: 16px 0px;
}

#image {
    width: 100vw;
    display: flex;
}

#image img {
    width: 50vw;
    height: 100vh;
}

#aboutus {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    background-color: #f0e7da;
}

#aboutus #box {
    height: 15vh;
    width: 122px;
    padding: 8px 54px;
    margin: 9px 20px;
    color: black;
}

#aboutus #box h4 {
    font-size: 1rem;
}

#aboutus #box p {
    font-size: 1rem;
}
#feed{
    position: relative;
    top: 90px;
    height: 60vh;
    display:flex;
padding:0px 20px;    
}
#feed #box h3{
    
        color: black;
    font-size: 30px;
}
#feed #box p{
color:cadetblue;
    display: flex;
    
    justify-content: center;
    
    font-size: 20px;

}
footer{
    background-color: black;
}
footer ul{
   padding: 0px; 

display:flex;
}
footer ul li{
    padding: 13px 20px;
list-style: none;
}
footer p{
display: flex;
margin: 0px 27px; 
color: gray;
}
